* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

:root {
    --black: #161616;
    --white: #c5c3c3;
}

.darkmode {
    --black: #c5c3c3;
    --white: #161616;
}

body {
    background-color:var(--white);
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;

    border-style: solid;
    border-color: blue;
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    /* display: none; */
    
}

nav {
    height: 60  px;
    /* border-style: solid;
    border-color: red; */
}

#check{
    display: none;
}

.checkbtn {
    color: var(--black);
    font-size: 2rem;
    cursor: pointer;
}

.fa-bars{
    margin-top: 8px;
    margin-left: 10px;
}

ul{
    position: fixed;
    width: 99vw;
    height: 100vh;
    background: var(--white);
    left: 200%;
    text-align: center;
    transition: all .5s;

    /* border-style: solid;
    border-color: red; */
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

#check:checked ~ ul{
    left: 0
}

#toggle-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: var(--white);
}

#toggle-switch label:last-child {
    font-size: 2rem;
}

#toggle-switch label:first-child {
    font-size: 2rem;
    display: none;
}

.darkmode #toggle-switch label:first-child {
    display: block;
    color: var(--black);
}

.darkmode #toggle-switch label:last-child {
    display: none;
}

section {
    width: 100vw;
    min-height: 100vh;
    /* border-style: solid;
    border-color: green; */
}

#home {
    min-height: 100vh;
}

.welcome-text {
    width: 350px;
    justify-content: center;
    text-transform: uppercase;
    /* border-style: solid;
    border-color: red; */
}

.text_container {
    color: var(--black);
    font-family: 'Kanit', sans-serif;
    width: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    font-size: 2rem;

    /* border-style: solid;
    border-color: blueviolet; */
}

#welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    /* border-style: solid;
    border-color: blue; */
}

.btns_socials {
    width: inherit;

    /* border-style: solid;
    border-color: lawngreen; */
}

.btns_socials button {
    background-color: var(--black);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    font-size: 1.25rem;
}

.social-links {
    margin-top: 10px;
    /* border-style: solid;
    border-color: violet; */
}

.social-links a {
    color: var(--black);
    font-size: 2rem;
}

.text_container p, .text_container span {
    font-size: 1.5rem;
}

span {
    color: #EF8354;
}

#about-me, #project-me, #educ-me {
    height: 100vh;
    width: 100vw;
    align-content: center;

    border-style: solid;
    border-color: green;
}

.header-container {
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: center;
    border-style: solid;
    border-color: white;
}

.header-container p{
    font-family: 'Kanit';
    height: initial;
    font-size: 1.5rem;
    color: var(--black);
}

.header-container i {
    font-size: 2rem;
    margin-right: 10px;
    color: var(--black);
}

#about-me .intro{
    height: auto;
    width: 70vw;
    margin: auto;
    color: var(--black);
    font-family: 'Inder', sans-serif;
    font-size: 1.25rem;

    border-style: solid;
    border-color: aqua;
}

#project-me #projects-btn {
    height: auto;
    width: 50vw;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;

    border-style: solid;
    border-color: aqua;
}

#project-me #projects-btn button {
    width: 200px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
}

#project-me #projects-btn button .title {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

#project-me #projects-btn button .desc {
    font-family: 'Inder', sans-serif;
    font-size: 0.625rem;
    float: left;
}


footer {
    width: 100vw;

    /* border-style: solid;
    border-color: red; */
}

#falling_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}

.number{
    position: absolute;
    font-size: 1rem;
    color: #07beb8;
    animation: fall linear;
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 15px;
    color: var(--black);
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    padding: 15px;
    font-size: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

@keyframes fall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (min-width: 768px) {
    .checkbtn {
        display: none;
    }
    ul {
        left: 0;
        height: inherit;
        flex: 1;
        text-align: right;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }

    nav ul li a{
        text-decoration: none;
        position: relative;
    }
}

@media only screen and (min-width: 1025px) {
    .checkbtn{
        display: none;
    }

    ul {
        left: 0;
        width: inherit;
        height: inherit;
        flex: 1;
        text-align: right;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }

    nav ul li a{
        text-decoration: none;
        position: relative;
    }
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}