* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

:root {
    --black: #161616;
    --white: #c5c3c3;
}

.darkmode {
    --black: #c5c3c3;
    --white: #161616;
}

body {
    background-color:var(--white);
    font-size: 16px;
    width: 100vw;

    border-style: solid;
    border-color: blue;
}

header {
    position: sticky;
    width: 100vw;
    height: 60px;
    
}

nav {
    height: 60px;
    /* border-style: solid;
    border-color: red; */
}

#check{
    display: none;
}

.checkbtn {
    color: var(--black);
    font-size: 2rem;
    cursor: pointer;
}

.fa-bars{
    margin-top: 8px;
    margin-left: 10px;
}

ul{
    position: fixed;
    width: 99vw;
    height: 100vh;
    background: var(--white);
    left: -100%;
    text-align: center;
    transition: all .5s;

    /* border-style: solid;
    border-color: red; */
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

#check:checked ~ ul{
    left: 0
}

#toggle-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: var(--white);
}

#toggle-switch label:last-child {
    font-size: 2rem;
}

#toggle-switch label:first-child {
    font-size: 2rem;
    display: none;
}

.darkmode #toggle-switch label:first-child {
    display: block;
    color: var(--black);
}

.darkmode #toggle-switch label:last-child {
    display: none;
}

section {
    width: 100vw;
    min-height: 100vh;
    /* border-style: solid;
    border-color: green; */
}

#home {
    min-height: 100vh;
}

.welcome-text {
    width: 60vw;
    justify-content: center;
    text-transform: uppercase;
    border-style: solid;
    border-color: red;
}

.text_container {
    color: var(--black);
    font-family: 'Kanit', sans-serif;
    width: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;

    /* border-style: solid;
    border-color: blueviolet; */
}

#welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    /* border-style: solid;
    border-color: blue; */
}

.btns_socials {
    width: inherit;

    /* border-style: solid;
    border-color: lawngreen; */
}

.social-links {
    margin-top: 10px;
    /* border-style: solid;
    border-color: violet; */
}

.social-links a {
    color: var(--black);
    font-size: 1.25rem;
    margin-right: 5px;
}

.text_container p, .text_container span {
    font-size: 1.25rem;
}

span {
    color: #EF8354;
}

.image_container {
    position: relative;
    width: 40vw;
    height: 60vh;
    display: none;
    /* border-style: solid;
    border-color: blue; */
}

.images {
    position: relative;
    align-items: center;
    width: 50%;
    height: 100%;
}

.images img {
    position: absolute;
}

#about-me, #project-me, #educ-me {
    height: 100vh;
    width: 100vw;
    align-content: center;

    border-style: solid;
    border-color: green;
}

.header-container {
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: center;
    border-style: solid;
    border-color: white;
}

.header-container p{
    font-family: 'Kanit';
    height: initial;
    font-size: 1.25rem;
    color: var(--black);
}

.header-container i {
    font-size: 1.875rem;
    margin-right: 10px;
    color: var(--black);
}

#about-me .intro {
    height: auto;
    width: 70vw;
    margin: auto;
    color: var(--black);
    font-family: 'Inder', sans-serif;
    font-size: 1rem;

    border-style: solid;
    border-color: aqua;
}

#project-me #projects-btn {
    height: auto;
    width: 50vw;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;

    border-style: solid;
    border-color: aqua;
}

#project-me #projects-btn button {
    width: 200px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
}

#project-me #projects-btn button .title {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

#project-me #projects-btn button .desc {
    font-family: 'Inder', sans-serif;
    font-size: 0.625rem;
    float: left;
}

#educ-info {
    height: auto;
    width: 70vw;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;

    border-style: solid;
    border-color: aqua;
}

#educ-info div {
    width: 260px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;

    border-style: solid;
    border-color: green;
}

.degree {
    font-family: 'Inder', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

.school {
    font-family: 'Inder', sans-serif;
    font-size: 0.625rem;
    color: var(--black);
}

footer {
    width: 100vw;
    height: 15vh;
    display: flex;

    border-style: solid;
    border-color: red;
}

footer .links div a{
    text-decoration: none;
    color: var(--black);
}

footer .links p, footer .CV p{
    text-transform: uppercase;
    font-weight: bold;
}

footer .links {
    color: var(--black);
    font-family: 'Inder', sans-serif;
    font-size: 0.75rem;
    margin: 10px;
}

.CV {
    font-family: 'Inder', sans-serif;
    font-size: 0.75rem;
    color: var(--black);
    margin: 10px;
}

.btn-50 {
    appearance: button;
    background-color: var(--black);
    background-image: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: var(--black) 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inder',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 6px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}


.button-50 {
    appearance: button;
    background-color: var(--black);
    background-image: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: var(--black) 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inder',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 8px 22px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#falling_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}

.number{
    position: absolute;
    font-family: "Vast Shadow", sans-serif;
    font-size: 1rem;
    color: #2d6a4f;
    animation: fall linear;
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    color: var(--black);
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    padding: 5px;
    font-size: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

@keyframes fall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (min-width: 768px) {
    .checkbtn {
        display: none;
    }

    header {
        height: 60px;
    }

    ul {
        height: inherit;
        width: 100vw;
        left: 0;
        height: inherit;
        text-align: right;

        border-style: solid;
        border-color: red;
    }

    nav ul li {
        display: inline-block;
        margin: 10px 20px;
    }

    .text_container p, .text_container span {
        font-size: 1.5rem;
    }

    .social-links a {
        color: var(--black);
        font-size: 1.5rem;
    }

    .button-50 {
        font-size: 1.25rem;
        padding: 12px 40px;
    }

    #about-me .intro {
        font-size: 1.25rem;
    }

    .header-container p{
        font-size: 1.5rem;
    }
    
    .header-container i {
        font-size: 2rem;
    }

    
}   

@media screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1440px) {
    .welcome-text {
        width: 40vw;
    }
    .image_container {
        display: block;

        border-style: solid;
        border-color: blue;
    }
}