@media only screen and (min-width: 1440px) {
    .welcome-text {
        width: 40vw;
    }
    /* .image_container {
        height: 60vh;
        width: 60vh;
    } */

    /* .images img {
        width: inherit;
        height: inherit;
    } */

    /* .sliding-container {
        height: inherit;
    } */

    #about-me .intro {
        width: 40vw;
        height: auto;
        font-size: 1.5rem;
    }

    .header-container p {
        font-size: 2rem;
    }

    .header-container i {
        font-size: 2rem;
    }

    #project-me #projects-btn button {
        width: 400px;
        height: 100px;
    }

    #project-me #projects-btn button .title {
        font-size: 1.5rem;
    }

    #project-me #projects-btn button .desc {
        font-size: 1.125rem;
    }

}