/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.3rem;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}