* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

:root {
    --black: #161616;
    --white: #c5c3c3;
}

.darkmode {
    --black: #c5c3c3;
    --white: #161616;
}

body {
    background-color:var(--white);
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;

    /* border-style: solid;
    border-color: blue; */
}

section {
    width: 100vw;
    min-height: 100vh;
}

.welcome-text {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;

    /* border-style: solid;
    border-color: red; */
}

.text_container {
    color: var(--black);
    font-family: 'Kanit', sans-serif;
    width: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;

    /* border-style: solid;
    border-color: blueviolet; */
}

#welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    /* border-style: solid;
    border-color: blue; */
}

.btns_socials {
    width: inherit;

    /* border-style: solid;
    border-color: lawngreen; */
}

.social-links {
    margin-top: 10px;
    /* border-style: solid;
    border-color: violet; */
}

.social-links a {
    color: var(--black);
    font-size: 1.25rem;
    margin-right: 5px;
}

.text_container p, .text_container span {
    font-size: 1.25rem;
}

span {
    color: #EF8354;
}

.image_container {
    position: relative;
    width: 50vw;
    height: 50vh;
    display: none;
    z-index: -9999;

    /* border-style: solid;
    border-color: blue; */
}

.images {
    position: relative;
    align-items: center;
    width: 50vh;
    height: auto;
}

.images img {
    width: inherit;
    height: inherit;
    position: absolute;

    /* border-style: solid;
    border-color: green; */
}

#about, #projects, #education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border-style: solid;
    border-color: palevioletred; */
}

.sliding-container {
    margin: auto;
    display: none;
    overflow: hidden;
    width: 40vw;
    height: 40vh;
    position: relative;
    z-index: -9999;
    
}

.sliding-wrapper {
    display: flex;
    width: inherit; 
    height: inherit;
    transition: transform 0.5s ease-in-out;
    
}

.img_container {
    flex: 1 0 100%;
    position: relative;
    border-style: solid;
    width: inherit;
    height: inherit;
    border: none;
    outline: none;

    /* border-color: palevioletred; */
}

.img {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
}

.img .bottom {
    width: inherit;
    height: inherit;
}

.img img {
    position: absolute;
}

/* .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
} */

/* .bottom {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-radius: aqua ;
}

.top.image1{
    width: 350px;
    height: 485px;
}
.top.image2 {
    width: 250px;
    height: 485px;
} */

.img img.bottom {
    z-index: 1;
}

.img img.top {
    z-index: 2;
}

#about-me, #project-me, #educ-me {
    height: 50vh;
    width: 100vw;
    display: flex;

    /* border-style: solid;
    border-color: green; */
}

.header-container {
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;

    /* border-style: solid;
    border-color: white; */
}

.header-container p{
    font-family: 'Kanit';
    height: initial;
    font-size: 1.25rem;
    color: var(--black);
}

.header-container i {
    font-size: 1.25rem;
    margin-right: 10px;
    color: var(--black);
}

#about-me .intro {
    height: auto;
    width: 70vw;
    margin: auto;
    color: var(--black);
    font-family: 'Inder', sans-serif;
    font-size: 1rem;

    /* border-style: solid;
    border-color: aqua; */
}

#project-me #projects-btn {
    height: auto;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    justify-content: center;

    /* border-style: solid;
    border-color: aqua; */
}

#project-me #projects-btn button {
    width: 200px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
    background-color: var(--black);
}

#project-me #projects-btn button .title {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    color: var(--white);
}

#project-me #projects-btn button .desc {
    font-family: 'Inder', sans-serif;
    font-size: 0.625rem;
    float: left;
    color: var(--white);
}

#educ-info {
    height: auto;
    width: 70vw;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;

    /* border-style: solid;
    border-color: white; */
}

#educ-info div {
    width: inherit;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
    border-bottom: solid var(--black);

    /* border-style: solid;
    border-color: green; */
}

.degree {
    font-family: 'Inder', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

.school {
    font-family: 'Inder', sans-serif;
    font-size: 0.625rem;
    color: var(--black);
}

footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    border-top: solid var(--black);
    justify-content: center;
    /* border-style: solid;
    border-color: red; */
}

footer .links div a{
    text-decoration: none;
    color: var(--black);
}

footer .links p, footer .CV p{
    text-transform: uppercase;
    font-weight: bold;
}

footer .links {
    color: var(--black);
    font-family: 'Inder', sans-serif;
    font-size: 0.75rem;
    margin: 10px;
}

.CV {
    font-family: 'Inder', sans-serif;
    font-size: 0.75rem;
    color: var(--black);
    margin: 10px;
}

.btn-50 {
    appearance: button;
    background-color: var(--black);
    background-image: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: var(--black) 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inder',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 6px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}


.button-50 {
    appearance: button;
    background-color: var(--black);
    background-image: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: var(--black) 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inder',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 8px 22px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#falling_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -9999;
}

.number{
    position: absolute;
    font-family: "Vast Shadow", sans-serif;
    font-size: 1rem;
    color: #2d6a4f;
    animation: fall linear;
    z-index: -9999;
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    color: var(--black);
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    padding: 5px;
    font-size: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

@keyframes fall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}