@media screen and (min-width: 768px) {
    .checkbtn {
        display: none;
    }

    ul {
        height: inherit;
        width: 100vw;
        left: 0;
        height: inherit;
        text-align: right;
        border-bottom: solid var(--black);

        /* border-style: solid;
        border-color: red; */
    }

    nav ul li {
        display: inline-block;
        margin: 10px 20px;
    }

    .text_container p, .text_container span {
        font-size: 1.5rem;
    }

    .social-links a {
        color: var(--black);
        font-size: 1.5rem;
    }

    .button-50 {
        font-size: 1.25rem;
        padding: 12px 40px;
    }

    #about-me .intro {
        font-size: 1.25rem;
    }

    .header-container p{
        font-size: 1.5rem;
    }
    
    .header-container i {
        font-size: 1.5rem;
    }
    .welcome-text {
        width: 40vw;
    }
    .image_container {
        display: block;
    }

    #about-me .intro {
        width: 50vw;
    }

    .sliding-container {
        display: flex;
    }

    #project-me #projects-btn button {
        width: 300px;
        height: 80px;
    }

    #project-me #projects-btn button .title {
        font-size: 1.25rem;
    }

    #project-me #projects-btn button .desc {
        font-size: 1rem;
    }

    #educ-info div {
        width: inherit;
        height: 80px;

        border-bottom: solid var(--black);
    }

    .degree {
        font-size: 1.25rem;
    }

    .school {
        font-size: 0.875rem;
    }

    .numbers {
        font-size: 1.25rem;
    }
}   